// Colors
$dblue: #2f73e4;
$white: #ffffff;
$black1: #000000;
$black2: #222222;
$black3: #212121;
$grey1: #cccccc;
$grey2: #e2e2e2;
$grey3: #818181;
$grey4: #f4f4f4;
$grey5: #3d3d3d;
$grey6: #d8d8d8;
$grey7: #eeeeee;
// Colors end
